/* Color Theme Swatches in Hex */
:root {
    --sky: #3669C4;
    --light-brown: #B57A33;
    --golden: #EBC942;
    --formal-blue: #363B45;
    --soft-brown: #DED4AD;
    --white: #eeeeee;
    background-color: 
        radial-gradient(ellipse at top, #E2DCC2, transparent),
        radial-gradient(ellipse at bottom, #3669C4, transparent);
}


html {
    box-sizing: content-box;
}

/* Hide scrollbar for Chrome, Safari (didn't work) and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    position: relative;
    min-height: 200px;
    background-color: var(--white);

}

/* Desktop style */
.main-content {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
}

.full-width {
    width: 100vw !important;
}

.header {
    position: relative;
    padding: 0px 10px 10px 10vw;
    margin: auto;
    min-height: 120px;
    min-width: none;
    background-color: var(--sky);
}

.contact-image {
    display: block;
    position: relative;
    right: 5vw;
    max-width: 300px;
    float: right;
    border-radius: 5%;
    border: var(--formal-blue) solid 2px;
    
}
.scrollspy {
    position: relative;
    height: 900px;
    overflow-y: scroll;
}


#quote {
    color: var(--formal-blue);
    font-weight: 800;
    font: 1.5em sans-serif;
    position: relative;
    top: 35px;
    max-width: 50vw;
    padding: 1px;
    margin: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
#author {
    color: var(--formal-blue);
    font-weight: 800;
    font: 1.25em sans-serif;
    position: relative;
    top: 50px;
    left: 40%;
    padding: 1px;
    margin: auto;
}

#author::before {
    content: "- ";
}

#quote::before {
    content: "“";
    font-size: 3rem;
}

.quote-area {
    position: relative;
    padding: 1px;
    margin: auto;
    min-height: 200px;
    background-color: var(--light-brown);
    border-radius: 65%;
}

.profile-image {
    display: block;
    max-width: 120px;
    float: left;
    border-radius: 50%;
    border: var(--formal-blue) solid 2px;
    box-shadow: 0px 12px 10px 2px #363b454f;
}

nav {
    position: relative;
    background-color: var(--golden);
}

ul.nav {
    padding-left: calc(10vw - 16px);
    display: flex;
    justify-content: space-between;
}

section {
    position: relative;
    padding-top: 80px;
    margin: auto;
    min-height: 100vh;
    min-width: none;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5rem;
}

.page-title {
    position: relative;
    top: 20px;
    left: 35px;
    padding: 1px;
    margin: auto;
} 
   

h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

h2 h3 h4 {
    position: relative;
    margin-top: 40px;
    padding: 40px, 20px, 5px, 10px;
}

.portfolio-card-title {
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 120px !important;
    font-size: .875rem !important;
    margin: auto;
    word-wrap: break-word;
    text-align: center;
}

footer {
    position:absolute;
    bottom: 0;
    left: 30%;
}

.copywright {
    position: relative;
    bottom: 0;
    left: 50%;
}


/*Skills grid */
.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "q r s t";
}

.q {
    grid-area: q;
}

.r {
    grid-area: r;
}

.s {
    grid-area: s;
}

.t {
    grid-area: t;
}

/* Portfolio grid */
.portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "quality-assurance pm-ba web-development";
}

.quality-assurance {
    grid-area: quality-assurance;
    margin: auto;
}

.pm-ba {
    grid-area: pm-ba;
    margin: auto;
}

.web-development {
    grid-area: web-development;
    margin: auto;
}

.portfolio-card {
    max-width: 26vw;
    min-width: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 100%; /* This will make the image take the full width of the .portfolio-card */
    height: 200px; /* This will maintain the aspect ratio of the image */
    object-fit: cover; /* This will ensure that the image covers the whole area of the .portfolio-card */
}

.portfolio-card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.portfolio-card-title:hover {
    color: var(--sky);
}
.portfolio-card-title:visited {
    color: var(--formal-blue);
}

.under-construction-image 
/*image is 50% of screen and centered*/
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 50vw; /* This will make the image take the full width of the .portfolio-card */
    /* height: 200px; This will maintain the aspect ratio of the image */
    object-fit: cover; /* This will ensure that the image covers the whole area of the .portfolio-card */
}

@media screen and (max-width: 1040px) {
    .portfolio-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "quality-assurance pm-ba"
            "web-development web-development";
    }
    
    .skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "q r" 
            "s t";
    }
}

@media screen and (max-width: 600px) {
    .portfolio-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "quality-assurance"
            "pm-ba"
            "web-development";
    }
}